<!doctype html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::commonHeader('支付')}"></head>
<body>

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <h1 class="text-center p-2">支付明细</h1>
                        <form th:action="@{/pay/update}">
                            <div class="form-group">
                                <label for="car_number">车牌号:</label>
                                <input type="text" class="form-control" id="car_number" name="carnum" readonly="readonly" th:value="${record.getRCarnum()}">
                            </div>
                            <div class="form-group">
                                <label for="entry_time">入场时间:</label>
                                <input class="form-control" id="entry_time" name="inTime" readonly="readonly" th:value="${#dates.format(record.getRIntime(), 'yyyy年MM月dd日 HH:mm:ss')}">
                            </div>
                            <div class="form-group">
                                <label for="exit_time">出场时间:</label>
                                <input class="form-control" id="exit_time" name="outTime" readonly="readonly" th:value="${#dates.format(record.getROuttime(), 'yyyy年MM月dd日 HH:mm:ss')}">
                            </div>
                            <div class="form-group">
                                <label for="parking_duration">停车时长（小时）:</label>
                                <input type="text" class="form-control" id="parking_duration" name="parkingDuration" readonly="readonly" th:value="${time}">
                            </div>
                            <div class="form-group">
                                <label for="total_amount">总金额（元）:</label>
                                <input type="text" class="form-control" id="total_amount" name="pSum" readonly="readonly" th:value="${payment.getPSum()}">
                            </div>
                            <div class="form-group">
                                <label for="payment_method">支付方式:</label>
                                <select style="color: #0f0f0f" id="payment_method" name="pMethod" >
                                    <option value="" selected disabled hidden>请选择支付方式</option>
                                    <option value="支付宝">支付宝</option>
                                    <option value="微信">微信</option>
                                    <option value="现金">现金</option>
                                </select>
                            </div>
                            <input type="hidden" name="rId" th:value="${payment.getRId()}">
                            <input type="hidden" name="pId" th:value="${payment.getPId()}">
                            <div class="mx-auto">
                                <button type="submit" class="btn btn-primary">支付</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>